  .current-weather{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0D1F22;
    color: #fff;
    height: 450px;
    width: 865px;
  }

  .current-weather_icon{
    width: 60px;
  }

  .current-weather_temp, .current-weather_description{
    font-size: 24px;
  }

  .current-weather_description{
    text-transform: capitalize;
  }

  .loader {
    border: 2px solid #f3f3f3;
    border-top: 2px solid #3C5233; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }